doctype html
html
    head
        title Knowledgebase
        link(rel='stylesheet' href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel='stylesheet' href="/css/stylesheet.css")
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            .container
                a.navbar-brand(href='#') Knowledge Base
                    
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
            
                #navbarsExampleDefault.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto          
                        li.nav-item
                            a.nav-link(href='/') Home
                        |
                        if user
                            li.nav-item
                                a.nav-link(href='/articles/add') Add Article
                        |
                    ul.nav.navbar-nav.navbar-right
                        if user
                            li 
                                a.nav-link(href='/users/logout') Logout
                        else
                            li
                                a.nav-link(href="/users/register") Register
                            li
                                a.nav-link(href='/users/login') Login 
                                       
                    //- form.form-inline.my-2.my-lg-0
                    //- input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
                    //- |           
                    //- button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

        .container
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="mt-2 alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer
                p Copyrigth &copy; 2018
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')