extends layout

block content
        h1 #{title}
        form(method='POST', action='/articles/myarticles')
            #form-group
                label Title:
                input.form-control(name="title", type="text")
            #form-group
                label body:
                textarea.form-control(name="body", type="text")
            input.btn.btn-primary.mt-2(type='submit', value="SUBMIT")    